<h1> <%= "#{@user.name}'s Dashboard" %> </h1>

<section class="discover_movies">
  <%= button_to "Discover Movies", discover_index_path, method: :get %>  
</section>

<section id="viewing_parties">
  <% @user.viewing_parties.each do |party| %>
    <div id="party-<%=party.id%>" class="viewing_party">
      <%= image_tag @facade.viewing_party_movie(party.movie_id).poster_url %> <br>
      <%= link_to("#{@facade.viewing_party_movie(party.movie_id).title}", user_movie_path(@user.id, party.movie_id)) %>
      Party Time: <%= party.date %> at <%= party.start_time %><br>
      Host: <%= party.find_host.name %><br>
      Who's Coming? <br/>
      <ol>
        <% party.users.each do |attendee| %>
          <% if attendee == @user %>
            <li class="bold_user"> <b> <%= attendee.name %> </b> </li>
          <% else %>
            <li> <%= attendee.name %> </li>
          <% end %>
        <% end %>
      </ol>
    </div><br>
  <% end %>
</section>
