<h2>Discover Movies</h2>
<%= cookies.encrypted[:greeting] %>
<%= button_to "Find Top Rated Movies", movies_path, method: :get, params: {keyword: "top 20rated"} %>

<%= form_with url: movies_path, method: :get, data: { turbo: false } do |f| %>
  <%= f.text_field :keyword, placeholder: 'Search by Movie Title' %>
  <%= f.submit "Find Movies" %>
<% end %>